h1{
    justify-content: center;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    background-color: #2196F3;
    color: rgb(255, 255, 255);
}
p.withButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.resultText{
    display: flex;
    justify-content: center;
    font-size: larger;
}